Repository aircast-one/aircast-mavlink: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}
  skip:
  - merge
  - rebase

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}
  skip:
  - merge
  - rebase

typecheck:
  run: npx tsc --noEmit
  skip:
  - merge
  - rebase

style: format core modules with prettier
  src/core/codec.ts
  src/core/crc.ts
  src/core/frame.ts
  src/core/index.ts
  src/core/parser.ts
  src/core/types.ts
Due: eslint, prettier, typecheck

refactor: apply SOLID principles to parser architecture
  src/core/index.ts
  src/core/parser.ts
  src/core/stream-buffer.ts
  src/core/types.ts
Due: eslint, prettier, typecheck

refactor: apply full SRP separation
  src/core/index.ts
  src/core/message-registry.ts
  src/core/message-serializer.ts
  src/core/parser.ts
  src/generator/template-engine.ts
Due: eslint, prettier, typecheck

test: add MAVLink specification compliance tests
  tests/spec-compliance/mavlink-spec.test.ts
Due: eslint, prettier, typecheck

fix: remove barrel file re-exports for better tree-shaking
  package.json
  src/generator/template-engine.ts
  tests/unit/template-engine.test.ts
Due: eslint, prettier, typecheck

feat: add individual constant exports for tree-shaking
  package.json
  rollup.config.js
  src/generator/generator.ts
  src/generator/template-engine.ts
  tests/helpers/test-base.ts
  tests/integration/debug.test.ts
  tests/integration/edge-cases.test.ts
  tests/integration/message-completion.test.ts
  tests/integration/node-mavlink-comparison.test.ts
  tests/integration/payload-structure.test.ts
  tests/integration/request-data-stream.test.ts
  tests/integration/snake-case.test.ts
  tests/manual/debug_payload_order.ts
  tests/manual/final_verification_test.ts
  tests/manual/test_all_streams.ts
  tests/manual/test_different_rates.ts
  tests/manual/test_final_fix.ts
  tests/manual/test_gomavlib_validation.ts
  tests/manual/test_mavlink_v2.ts
  tests/manual/test_mcrf4xx.ts
  tests/manual/test_request_data_stream_specific.ts
  tests/manual/test_set_message_interval.ts
  tests/manual/test_sitl_real.ts
  tests/manual/test_sitl_response.ts
  tests/manual/test_working_combination.ts
  tests/performance/performance.test.ts
  tests/spec-compliance/mavlink-spec.test.ts
  tests/unit/decoder.test.ts
  tests/unit/generator.test.ts
  tests/unit/string-processing.test.ts
  tests/unit/template-engine.test.ts
Due: eslint, prettier, typecheck

2.0.0
  package-lock.json
  package.json
Due: prettier

feat: add core/types export for ParsedMAVLinkMessage
  package.json
Due: prettier

2.0.1
  package-lock.json
  package.json
Due: prettier

perf: reduce package size from 21MB to 7.8MB
  .eslintrc.cjs
  jest.config.cjs
  package-lock.json
  package.json
  rollup.config.js
Due: eslint, prettier

2.1.0
  package-lock.json
  package.json
Due: prettier

ci: migrate workflows to self-hosted runners
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier

fix: CRC validation pipeline — compute CRC_EXTRA from XML, fix v2 signed frame slice
  src/core/frame.ts
  src/generator/mavlink-crc.ts
  src/generator/type-converter.ts
  tests/manual/test_crc_typescript.ts
  tests/unit/frame-parser.test.ts
  tests/unit/mavlink-crc.test.ts
Due: eslint, prettier, typecheck

fix: resolve remaining issues — dead code, broken APIs, tooling, docs
  README.md
  package.json
  src/cli.ts
  src/core/parser.ts
  src/generator/batch-processor.ts
  src/generator/generator.ts
  src/generator/mavlink-crc.ts
  src/generator/template-engine.ts
  src/generator/type-converter.ts
  src/generator/xml-parser.ts
  tests/integration/round-trip.test.ts
  tests/unit/batch-processor.test.ts
  tests/unit/cli.test.ts
  tests/unit/generator.test.ts
  tests/unit/type-converter.test.ts
  tests/unit/xml-parser-coverage.test.ts
  tests/unit/xml-parser-no-any.test.ts
  tests/unit/xml-parser.test.ts
Due: eslint, prettier, typecheck

chore: clean up manual tests, pin MAVLink version, reduce package size
  package.json
  rollup.config.js
  src/generator/batch-processor.ts
  test-compare-simple.mjs
  test-compare.mjs
  test-sitl-simple.mjs
  tests/manual/README.md
  tests/manual/analyze_gps_raw_int.js
  tests/manual/analyze_pcap.py
  tests/manual/analyze_qgc_accurate.py
  tests/manual/analyze_qgc_pcap.py
  tests/manual/analyze_tlog.py
  tests/manual/debug_crc.py
  tests/manual/debug_crc_step_by_step.ts
  tests/manual/debug_payload_order.ts
  tests/manual/debug_xml.js
  tests/manual/final_verification_test.ts
  tests/manual/generate_request_data_stream.py
  tests/manual/test_all_streams.ts
  tests/manual/test_crc_algorithms.py
  tests/manual/test_crc_typescript.ts
  tests/manual/test_crc_variants.ts
  tests/manual/test_different_rates.ts
  tests/manual/test_exact_bytes.ts
  tests/manual/test_final_fix.ts
  tests/manual/test_gomavlib_exact_frame.ts
  tests/manual/test_gomavlib_validation.ts
  tests/manual/test_mavlink_v2.ts
  tests/manual/test_mcrf4xx.ts
  tests/manual/test_request_data_stream_specific.ts
  tests/manual/test_serializer.js
  tests/manual/test_set_message_interval.ts
  tests/manual/test_sitl_checksum.py
  tests/manual/test_sitl_real.ts
  tests/manual/test_sitl_response.ts
  tests/manual/test_sys_status.js
  tests/manual/test_sys_status_exact.js
  tests/manual/test_sys_status_trimmed.js
  tests/manual/test_validate_fixed_message.ts
  tests/manual/test_working_combination.ts
Due: eslint, prettier, typecheck

perf: consolidate message types into barrel — 1,950 to 827 files, 7.8MB to 886KB
  package.json
  rollup.config.js
Due: eslint, prettier

fix: ESM-safe CLI version, single source of truth for MAVLink commit
  package.json
  src/cli.ts
  src/generator/batch-processor.ts
Due: eslint, prettier, typecheck

feat!: v3 type-safe API — discriminated unions, typed serialize, split parser/serializer
  src/core/index.ts
  src/core/message-registry.ts
  src/core/message-serializer.ts
  src/core/parser.ts
  src/core/types.ts
  src/generator/template-engine.ts
  tests/helpers/test-base.ts
  tests/integration/debug.test.ts
  tests/integration/dialect-integration.test.ts
  tests/integration/edge-cases.test.ts
  tests/integration/message-completion.test.ts
  tests/integration/node-mavlink-comparison.test.ts
  tests/integration/payload-structure.test.ts
  tests/integration/request-data-stream.test.ts
  tests/integration/round-trip.test.ts
  tests/integration/snake-case.test.ts
  tests/performance/performance.test.ts
  tests/spec-compliance/mavlink-spec.test.ts
  tests/unit/decoder.test.ts
  tests/unit/string-processing.test.ts
  tests/unit/template-engine.test.ts
Due: eslint, prettier, typecheck

docs: rewrite README for v3 API
  README.md
Due: prettier

feat!: rename package from @aircast-4g/mavlink to @aircast-one/mavlink
  README.md
  docs/tree-shakeable-exports.md
  package.json
  src/generator/template-engine.ts
Due: eslint, prettier, typecheck

3.0.0
  package.json
Due: prettier

feat!: flatten export paths — drop /dialects/ and /core/ prefix
  README.md
  package-lock.json
  package.json
  src/generator/template-engine.ts
  tests/unit/template-engine.test.ts
Due: eslint, prettier, typecheck

3.1.0
  package.json
Due: prettier

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  typecheck: any of: *.{ts,tsx}
